/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body{
	margin:0;
	font-family: 'Roboto Condensed', sans-serif;
	background: #fff;
}
body a{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration:none;
}
#cboxLoadedContent{
    padding: 30px 10px;
}
h1,h2,h3,h4,h5,h6{
	margin:0;	
	font-family: 'Roboto Condensed', sans-serif;
}
p{
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
/*--header--*/
.navbar-header h1 {
    font-size: 3em;
    font-family: 'Dosis', sans-serif;
    text-align: center;
}
.navbar-header h1 img {
    margin-right: 0.3em;
}
.navbar-header h1 a {
    color: #FFF;
    text-decoration: none;
    display: block;
    background: transparent; //#E64B3B;
    padding: 0.3em 0.2em;
    font-weight: 600;
}
.navbar-header h1 a span {
    font-size: .3em;
    display: block;
    letter-spacing: 8px;
}
.navbar-default .navbar-brand,.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
	color:#fff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background:none !important;
}
/*--top-nav--*/
.navbar-nav li a {
    font-size: 1.2em;
    line-height: inherit;
    padding: 10px 20px;
    color: #999 !important;
    font-weight: 300;
}
.navbar-nav li a.active{
	color:#74b9fe!important;
}
.navbar-nav li:hover a:before{
	bottom: 0%;
}
.navbar-nav  li.active a, .navbar-nav  li.active1 a.dropdown-toggle,.navbar-nav li a:hover {
    color: #74b9fe!important;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background: none;
}
nav#block-primehorses-main-menu {
    padding: 0;
	margin: 0;
}
nav.navbar.navbar-default {
    background: none;
    border: none;
	margin-bottom: 0;
}
.header-right {
    float: right;
}
.top-nav-text {
    margin: 1.5em 0 1.9em;
    position: relative;
}
.top-nav-text p {
    font-size: 1em;
}
/* Effect 14: border switch */
.cl-effect-14 a {
	height:45px;
}

.cl-effect-14 a::before,
.cl-effect-14 a::after {
	position: absolute;
	width: 45px;
	height: 2px;
	background: #74b9fe;
	content: '';
	opacity: 0.2;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.cl-effect-14 a::before {
	top: 0;
	left: 0;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
	-ms-transform-origin: 0 0;
}
.cl-effect-14 a::after {
	right: 0;
	bottom: 0;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-webkit-transform-origin: 100% 0;
	-moz-transform-origin: 100% 0;
	transform-origin: 100% 0;
	-ms-transform-origin: 100% 0;
}

.cl-effect-14 a:hover::before,
.cl-effect-14 a:hover::after,
.cl-effect-14 a:focus::before,
.cl-effect-14 a:focus::after,
.cl-effect-14 a.active::before,
.cl-effect-14 a.active::after {
	-moz-opacity: 1;
	opacity: 1;
}

.cl-effect-14 a:hover::before,
.cl-effect-14 a:focus::before,.cl-effect-14 a.active::before {
	left: 50%;
	-webkit-transform: rotate(0deg) translateX(-50%);
	-moz-transform: rotate(0deg) translateX(-50%);
	transform: rotate(0deg) translateX(-50%);
	-o-transform: rotate(0deg) translateX(-50%);
	-ms-transform: rotate(0deg) translateX(-50%);
}

.cl-effect-14 a:hover::after,
.cl-effect-14 a:focus::after,.cl-effect-14 a.active::after{
	right: 50%;
	-webkit-transform: rotate(0deg) translateX(50%);
	-moz-transform: rotate(0deg) translateX(50%);
	transform: rotate(0deg) translateX(50%);
	-o-transform: rotate(0deg) translateX(50%);
	-ms-transform: rotate(0deg) translateX(50%);
}
/*--//top-nav--*/
/*--start search--*/
.sb-search {
    position: absolute;
    right: 0;
    top: -5px;
    width: 32px;
    margin: 0;
    height: 32px;
    overflow: hidden;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
    -webkit-backface-visibility: hidden;
}
#block-languageswitcher{
   display: inline-block;
    margin-left: 40px;
}
#block-languageswitcher ul.links li {
    display: inline-block;
    float: left;
    list-style: outside none none;
    padding: 10px 5px;
}
.sb-search-input {
    position: absolute;
    top: 0px;
    left: -77px;
    border: none;
    outline: none;
    background: #9F98EF;
    width: 100%;
    height: 31px;
    margin: 0;
/*-- w3layouts --*/
    z-index: 10;
    font-size: 1em;
    color: #fff;
    padding: 0 2em 0 3.5em;
    -webkit-appearance: none;
}
.sb-search-submit {
    filter: alpha(opacity=0);
    color: transparent;
    border: none;
    outline: none;
    z-index: -1;
    -webkit-appearance: none;
	width: 40px;
	background:none;
}
.sb-search-input::-webkit-input-placeholder {
	color:#212121;
}
.sb-search-input:-moz-placeholder {
	color: #212121;
}
.sb-search-input::-moz-placeholder {
	color:#212121;
}
.sb-search-input:-ms-input-placeholder {
	color:#212121;
}
.sb-icon-search {
	z-index: 99;
}
.sb-icon-search,.sb-search-submit,.sb-search.sb-search-open .sb-search-submit {
    position: absolute;
    cursor: pointer;
    font-size: 1.5em;
	padding: 0 0.2em;
	
}
.sb-search.sb-search-open .sb-search-submit:before{
	content: "\e003";
    font-family: 'Glyphicons Halflings';
}
.sb-icon-search:before,.sb-search.sb-search-open .sb-icon-search,.no-js .sb-search .sb-icon-search:before{
    content: "\e003";
    font-family: 'Glyphicons Halflings';
}
.sb-search.sb-search-open .sb-search-input {
    left: 0;
}
/*-- agileits --*/
/* Open state */
.sb-search.sb-search-open,.no-js .sb-search {
	width:100%;
}
.sb-search.sb-search-open .sb-icon-search, .no-js .sb-search .sb-icon-search {
    color: #170000;
    position: absolute;
    cursor: pointer;
    padding: 0 0.5em;
    top: 0;
    font-size: 1.6em;
}
.sb-search.sb-search-open .sb-search-submit,.no-js .sb-search .sb-search-submit {
	z-index: 90;
}
/*--//search-ends--*/
/*--//header--*/
/*--banner--*/
.banner {
    background: url(../images/banner.jpg)no-repeat fixed center 0px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
    background-size: cover;
    min-height: 650px;
    position: relative;
}

.banner-text {
    padding: 14em 0;
    text-align: center;
}
.banner-text h2,.banner-text h3{
    font-size: 2.6em;
    color: #fff;
    text-transform: uppercase;
}
.banner-text h4,
.banner-text h4 p{
    color: #fff;
    margin: 1.5em 0;
    font-size: 1.3em;
    font-weight: 100;
}
.more a {
    font-size: 1em;
    color: #fff;
    padding: 0.8em 2.5em;
    position: relative;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
    display: inline-block;	
/*-- w3layouts --*/
    background: #74b9fe;
    font-family: 'Roboto Condensed', sans-serif;
	border: 2px solid #74b9fe;
	height: 3em;
}
.more a:hover{
	background:transparent;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	border-radius:30px;
}
/*--banner-modal--*/
.modal-open .modal {
    background: rgba(0, 0, 0, 0.48);
}
.modal.bnr-modal {
	padding: 0 1em !important;
}
.modal-body {
    padding: 2em;
}
.modal-dialog {
    margin: 6em auto 0;
}
.bnr-modal .modal-header {
    border: none;
    min-height: 2.5em;
    padding: 1em 2em 0;
}
.bnr-modal button.close {
    color: #004a93;
    opacity: .9;
    font-size: 2.5em;
}
.modal-body p {
    margin-top: 1em;
    font-size: 1em;
    font-weight: 400;
}
article.node-article-full .content > div:first-child {
    float: left;
    margin-right: 50px;
}
article.node-article-full .content > div:nth-child(2){
    width: 100%;
    text-align: justify;
}
article  span.addtoany_list{
    margin-top: 20px;
    display: inline-block;
}

article h4{
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}
#colorbox article h2{
    margin-bottom: 20px;
    text-align: center;
}
article p{
    text-align: justify;
}
#colorbox article{
   margin: 0 20px;
}


/*--//banner-modal--*/
/*--Slider Part starts Here--*/
#slider2,
#slider3 {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	margin: 0 auto;
}
.callbacks_container {
/*-- agileits --*/
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    top: 45%;
    left: 6%;
    opacity: 0.7;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 53px;
    width: 32px;
    background: url("../images/icons.png") no-repeat 0px 0px;
}
.callbacks_nav.next {
    left: auto;
    background-position: right;
    right: 5%;
}
.callbacks_nav:active {
  opacity: 1.0;
}
.callbacks_tabs li,
.slick-dots li{
    display: inline-block;
    margin: 0 .6em;
}
.slick-dots{
    margin-top: 35px;
}
.callbacks_tabs{
    list-style: none;
    position: absolute;
    z-index: 999;
    bottom: 17%;
    left: 46%;
    padding: 0;
    margin: 0;
}
.slick-dots li button:before,
.slick-dots li.slick-active button::before{
    color: transparent;
}
.callbacks_tabs a,
.slick-dots li button{
    height: 12px;
    width: 12px;
    display: inline-block;
    background: #fff;
    border: none;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
    font-size: 0;
}
.callbacks_tabs a:after,
.slick-dots button:after{
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    border: 1px solid white;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    top: -5px;
    left: -5px;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
    transform: scale(0);
	-ms-transform: scale(0);
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
    transition: .5s all;
}
.callbacks_here a:after,
.slick-active button:after{
    border-color: #fff;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
    transform: scale(1);
	-ms-transform: scale(1);
}
/*--//Slider part Ends Here --*/

.highlighted aside.layout-container div[role="contentinfo"]{
    background-color: #d9edf7;
    padding: 25px 0;
}
#block-primehorses-content article{
    background-color: rgb(255, 255, 255);
    padding: 45px 25px;
}

#block-primehorses-content h4.label{
    color: #000;
}
.simplenews-confirm-add,
.simplenews-confirm-removal,
.simplenews-subscriber-account-form.simplenews-subscriber-form{
    background-color: rgb(255, 255, 255);
    padding: 45px 25px;

}
.simplenews-confirm-add p,
.simplenews-confirm-removal p,
.simplenews-subscriber-form .description{
    margin-bottom: 25px;
    margin-top: 25px;
}
.simplenews-confirm-add .form-actions input.form-submit,
.simplenews-confirm-removal .form-actions input.form-submit{
    margin-top: 10px;
}

/*--//banner--*/
/*--about--*/
.about,.news-info,.services,.skills{
	padding:6em 0;
}
#block-views-block-about-us-block-1 .views-field-body{
    margin-bottom: 20px;
}
#block-views-block-about-us-block-1 .views-field-body .field-content {
    margin: 0 auto;
    text-align: center;
    width: 80%;
}
h3.title {
    font-size: 3em;
    text-align: center;
    color: #004a93;
    font-weight: 200;
    position: relative;
    margin-bottom: 1em;
    padding-bottom: 0.3em;
    text-transform: uppercase;
}

h3.title:before {
    content: '';
    width: 80px;
    height: 5px;
    background: #DFDCFB;
    position: absolute;
    bottom: 0;
    left: 46%;
    display: block;
}
.about-text {
    text-align: center;
}
.about-text  h4 {
    font-size: 1.5em;
    color: #555;
    margin-bottom: 0.8em;
}

p {
    font-size: 1.1em;
    color: #999;
    line-height: 1.8em;
}
.about .more {
    text-align: center;
    margin-top: 30px;
}
.about .body{
    text-align: justify;
    color: #999;
}
.about .more a:hover {
    color: #004a93;
    font-weight: bold;
}
/*--//about--*/
/*--news--*/
#block-views-block-news-views-block-2 .slick__arrow {
    left: -22px;
    width: 104%;
    z-index: 2;
}
#block-views-block-news-views-block-2 .slick__slide {
	overflow: hidden;
	display: block;
}
#block-views-block-news-views-block-2 .captn-top h4 {
    color: #004a93;
    margin-bottom: 12px;
    font-size: 15px;
    font-weight: 600;
    text-align: left;
    text-transform: uppercase;
}
article.node-article-sticky .body{
    color: #fff;
    font-size: 1.3em;
    font-weight: 100;
    margin: 1.5em 0;
}
article.node-article-teaser h4 a{
    color: #004a93;
}
#block-views-block-news-views-block-2 .body div {
    font-size: 1.1em;
    color: #999;
    line-height: 1.8em;
}
article.node-article-teaser h4{
    margin-top: 0px;
}
li.node-readmore{
    list-style: none;
}

.news-grids .captn,
#block-views-block-news-views-block-2 .slide__caption{
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: -100%;
    right: 0;
    background-color: rgba(116, 185, 254, 0.90);
    text-align: center;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    top: unset;
}
.captn-top {
    padding: 6%;
}
.captn-top .body {
    padding: 0 4%;
}
.captn-top > span{
    float: right;
}
#block-views-block-news-views-block-2 .slick__slide:hover .slide__caption {
	width: 100%;
	bottom: 0%;
}
img.img-responsive {
    width: 100%;
}
#block-views-block-news-views-block-2 .captn-top span a,
.node-services-teaser .services-right li.node-readmore a{
  color: #004a93;
  font-weight: 600;
}
#block-views-block-news-views-block-2 .slide__caption .more a:hover {
  background: transparent none repeat scroll 0 0;
  border-radius: 30px;
}
/*--social-icons--*/
.news .social-icons {
    background: #7B68EE;
    padding: 1.4em 0 0.8em;
}
.social-icons ul{
	display:inline-block;
	padding: 0;
}
.social-icons ul li {
    position: inherit;
    display: inline-block;
    width: inherit;
    font-size: 25px;
}
.social-icons ul li:nth-child(2) {
    margin: 0 .5em;
}
.social-icons ul li a .fa {
    left: 50%;
    margin-right: -50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
.social-icons ul li a {
   /* background: url(../images/social-icons.png) no-repeat 0px 0px; */
    display: block;
    position: relative;
    height: 41px;
    width: 41px;
/*    background-color: rgba(159, 152, 239, 0.35);*/
    -webkit-transition: .5s all;
    transition: .5s all;
    -moz-transition: .5s all;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
    border-radius: 50%;
}
.social-icons ul li a:hover {
    background-color: #000;
}
/** .social-icons ul li a.fb{
	background-position:0px -48px;
}
.social-icons ul li a.gp {
    background-position: 2px -95px;
}
.social-icons ul li a.drb {
    background-position: 0px -144px;
} */
/*--//social-icons--*/
/*--//news--*/
/*--services--*/

article.node-services-teaser{
    display: table;
}
.views-view-grid .views-col {
    float: left;
    position: relative;
}
.services-grids.views-col.col-1{
   margin-right: 10px;
}
.services-grids.views-col{
    border: 1px solid #74b9fe;
    width: 49% !important;
}

.services-left {
    background: #74b9fe none repeat scroll 0 0;
    float: left;
    height: 100%;
    padding: 1.9em 0.9em;
    position: absolute;
    text-align: center;
    transition: all 0.5s ease 0s;
    width: 27%;
}
.services-grids .services-left > div > div:nth-child(2) > img {
    display: none;
}
.services-grids:hover .services-left > div > div:first-child > img{
    display: none;
}
.services-grids:hover .services-left > div > div:nth-child(2) > img{
    display: block;
}
.services-left img{
    width: 100%;
    display: block;
    height: auto;
}
.services-info.views-row{
    margin-bottom: 30px;
}

span.glyphicon {
    font-size: 3em;
    color: #fff;
}
.services-right {
    float: right;
    padding: 1.5em;
    width: 73%;
}

.node-services-teaser .services-right h4 {
    color: #004a93;
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-top: 0;
    text-align: left;
    text-transform: uppercase;
}
.node-services-teaser li.node-readmore{
    color: #004a93;
    text-align: right;
}

.services-grids:hover .services-left {
    background: none;
}
.services-grids:hover span.glyphicon{
    color: #988AEE;
}
.services-info.services-row2 {
    margin-top: 3.5em;
}
/*--//services--*/
/*--portfolio--*/
.portfolio-grids {
    padding: 0;
}
#slick-views-tiles-list-tiles-slider-2-slider .slick-list{
    height: 485px;
}
.slick--view--tiles-list{
    display: inline-block;
}
/*--SAP--*/

.btn-primary {
    background-color: #74b9fe;
    color: #fff;
    border: none;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background-color: #286090;
    border-color: transparent;
    color: #fff;
}
.views-field-contextual-links {
    position: relative;
}

.sap_tabs{
	clear:both;
	padding: 0;
}
.tab_box{
	background:#fd926d;
	padding: 2em;
}
.top1{
	margin-top: 2%;
}
.resp-tabs-list {
    list-style: none;
    padding: 0 0 3em;
    margin: 0 auto;
    text-align: center;
}
.resp-tab-item {
    color: #333;
    font-size: 1.1em;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    text-align: center;
    list-style: none;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    text-transform: uppercase;
    margin: 0 1.2em 0;
	border-bottom: 2px solid #fff;
}

.resp-tab-active {
    text-shadow: none;
    color: #7B68EE;
    border-bottom-color: #7B68EE;
}
.resp-tabs-container {
	padding: 0px;
	clear: left;	
}
h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}
.resp-tab-content {
	display: none;
}
.resp-content-active, .resp-accordion-active {
   display: block;
}

.tab_img{
	padding:2em 0 0;
	display: inline-block;
}
.portfolio-grids a {
    display: block;
    overflow: hidden;
	position:relative;
}
.portfolio-grids img.img-responsive {
    width: 100%;
}
#block-views-block-tiles-list-tiles-slider .slick-slide {
   /* width: 30%; */
}
#block-views-block-tiles-list-tiles-slider .slide__caption {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
   	-webkit-transition: .5s all;
	-moz-transition: .5s all;
    transition: .5s all;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
    transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
}
#block-views-block-tiles-list-tiles-slider .slide__caption .icon-zoom{
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
.original-image {
    display: block;
    height: auto;
    width: 100%;
}
#colorbox article.node-tiles-full{
    margin: 0;
}
.image-zoom-container .image-zoom{
    display: block;
}
.addtoany-container{
   clear: both;
    margin-bottom: 20px;
}
#block-views-block-tiles-list-tiles-slider .slick__slide:hover .slide__caption{
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
    transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);

}
#block-views-block-tiles-list-tiles-slider .slick--view--tiles-list:hover > .slide__caption{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
}
.icon-zoom a {
    font-size: 2.5em;
    color: #fff;
    text-align: center;
    font-weight: 200;
}
.icon-zoom a:hover{
    color: #fff;
}
#block-views-block-tiles-list-tiles-slider .slick__slide .slide__media img.media__image{
	-webkit-transform: scale(1, 1);
    transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-o-transform: scale(1, 1);
    transition    : all 0.8s ease-in-out;
    -o-transition       : all 0.8s ease-in-out;
    -moz-transition     : all 0.8s ease-in-out;
    -webkit-transition  : all 0.8s ease-in-out;


}
#block-views-block-tiles-list-tiles-slider .slick__slide:hover .slide__media img.media__image{
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	overflow: hidden;
}

#block-views-block-tiles-list-tiles-slider .slick__slide .addtoany_list.a2a_kit_size_32{
    position: absolute;
    bottom: 10px;
    left: 15px;
}

div.icon-info{
    background: rgba(0, 0, 0, 0) url("/themes/custom/primehorses/images/icons/icon-info.png") no-repeat scroll center center / contain ;
    bottom: 10px;
    height: 32px;
    position: absolute;
    right: 10px;
    width: 32px;
}
div.icon-info > a{
    display: inline-block;
    height: 100%;
    width: 100%;
}

/* filter section */
#block-views-block-tiles-list-tiles-slider .views-exposed-form {
    display: inline-block;
    margin-bottom: 50px;
    text-align: center;
    width: 100%;
    color: #999;
}
#block-views-block-tiles-list-tiles-slider .js-form-item.form-item.js-form-type-radio{
    float: left;
    margin-right: 20px;
}
fieldset.form-item.form-wrapper,
div.form-actions.form-wrapper{
    display: inline;
}
div.form-actions.form-wrapper input{
    font-size: 1em;
    color: #fff;
    padding: 0.5em 1.5em;
    position: relative;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
    /*-- w3layouts --*/
    background: #74b9fe;
    font-family: 'Roboto Condensed', sans-serif;
    border: 2px solid #74b9fe;

}
label.option {
    font-weight: normal;
    text-transform: uppercase;
}


/*--//portfolio--*/
/* SUBCONTENT REGION  */
/*--newsletter */

div#block-simplenewssubscription{
    background-color: #74b9fe;
    display: inline-block;
    font-size: 2.2em;
    padding-bottom: 1.2em;
    padding-top: 1.2em;
    width: 100%;
    text-align: center;
}
div#block-simplenewssubscription form{
    display: inline-block;
}
#block-simplenewssubscription #edit-message{
    color: #004a93;
    float: left;
    padding: 15px 20px;
    font-size: 0.6em;
    text-transform: uppercase;

}
#block-simplenewssubscription  #edit-mail-wrapper{
    float: left;
    margin: 0 60px;
    width: 35%;
}
#block-simplenewssubscription  #edit-mail-wrapper input.form-email{
    background-color: #fff;
    border: medium none;
    border-radius: 20px;
    font-size: 0.6em;
    padding: 5px 20px;
    width: 100%;

}
#block-simplenewssubscription  #edit-mail-wrapper label,
#block-simplenewssubscription  #edit-mail-wrapper .description{
    display: none;
}
#block-simplenewssubscription .form-actions{
    float: left;
    width: 15%;
}
#block-simplenewssubscription .form-actions #edit-subscribe{
    background-color: #004a93;
    border: medium none;
    color: #fff;
    font-size: 0.6em;
    padding: 5px 20px;
    text-transform: uppercase;

}
/* --//newsletter */

/*--partners--*/

.slide--caption--below .slide__caption{
    text-align: center;
    color: #999;
}
#block-views-block-partners-slider-block-1{
	position:relative;
    padding: 50px 0;
}

#block-views-block-partners-slider-block-1 .slick--view--partners-slider {
    margin: 0 auto;
    width: 73%;
}
.slick-arrow::before{
    color: #004a93;
    font-size: 3rem;
}
/*--//partners--*/

/*--testimonios--*/

#block-views-block-testimony-slider-block-1 {
    background: url(../images/slid/3.jpg)no-repeat fixed center 0px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
    background-size: cover;
    //min-height: 650px;
	position: relative;
}
#block-views-block-testimony-slider-block-1 .slick--view--testimony-slider{
    padding: 2em 0;
}
.foto{
    display: inline-block;
    text-align: center;
    height: 100px;
    width: 100px;
}
#block-views-block-testimony-slider-block-1 span.reference,
#block-views-block-testimony-slider-block-1 .slide__caption a{
    color: #6363a1;
}

#block-views-block-testimony-slider-block-1 .slide__caption h3{
    color: #5f5f9a;
}
#block-views-block-testimony-slider-block-1 .slide__caption p{
    color: #000;
    font-size: 1.3em;
    font-weight: 100;
    margin: 1.5em 0;
}

/*--//testimonios--*/


/*--contact--*/
#contact{
    background: url(../images/slid/3.jpg)no-repeat center 0px fixed;
    background-size: cover;
    color: #fff;
}
#user-login-form .description{
    display: none;
}

#contact-message-feedback-form label,
#user-login-form label{
    display: none;
}
#contact .banner-text{
    padding: 5em 0;
}

.contact-form {
    text-align: center;
    color: #FFF;
}
.contact-form p {
    width: 60%;
    margin: 1.5em auto 3em;
    text-align: center;
    color: #000;
}
#user-login-form input[type="text"],
#user-login-form input[type="password"]{
    width: 31.6%;
    color: #FFF;
    background: rgba(90, 165, 254, 0.50);
    outline: none;
    font-size: 1em;
    padding: .8em 1em;
    margin-bottom: 2em;
    border: none;
    -webkit-appearance: none;
    display: inline-block;
}

#contact-message-feedback-form input[type="text"],
#contact-message-feedback-form input[type="email"],
#contact-message-feedback-form input[type="tel"],
#contact-message-feedback-form input[type="password"]{
    width: 31.6%;
    color: #FFF;
    background: rgba(90, 165, 254, 0.50);
    outline: none;
    font-size: 1em;
    padding: .8em 1em;
    margin-bottom: 2em;
    border: none;
    -webkit-appearance: none;
    display: inline-block;
}
#contact-message-feedback-form input{
    float: left;
}
#contact-message-feedback-form  input.form-email {
    margin: 0 2em;
}
#contact-message-feedback-form textarea {
    resize: none;
    width: 100%;
    background:rgba(90, 165, 254, 0.50);
    color: #FFF;
    font-size: 1em;
    outline: none;
    padding: .6em .8em;
    border: none;
    min-height: 12em;
    -webkit-appearance: none;
}
#contact-message-feedback-form input[type="submit"] {
    outline: none;
    color: #fff;
    padding: 0.7em 1em;
    font-size: 1.1em;
    margin: 3em 0 0 0;
    -webkit-appearance: none;
    background: #74b9fe;
    transition: 0.5s all;
    border: 2px solid #74b9fe;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    -moz-transition: 0.5s all;
    float: none !important;
}
#contact-message-feedback-form  input[type="submit"]:hover {
    background: none;
    color: #74b9fe;
}

::-webkit-input-placeholder {
	color:#FFF !important;
}
:-moz-placeholder { /* Firefox 18- */
	color:#FFF !important;
}
::-moz-placeholder {  /* Firefox 19+ */
	color:#FFF !important;
}
:-ms-input-placeholder {  
	color:#FFF !important;
}
/*--//contact--*/
/*--map--*/
.map-left {
    padding: 0;
}
.map iframe {
    width: 100%;
    min-height: 350px;
    border: none;
}
.map-right {
    background: #8ec4fa;
    padding:2em;
    text-align: left;
    height: 354px;
}
.map-right .external-links h4{
    margin-bottom: 1em;
}
.map-right .external-links a{
    color: #fff;
    display: block;
    margin-bottom: 5px;
    text-align: left;
}
.map-right .external-links a:hover{
    color: #b0f8f7;
}
.map-right h4 {
    font-size: 1.6em;
    color: #fff;
    font-weight: lighter;
}
.map-right .logo-footer{
    margin-bottom: 3em;
}
.map-right p {
    color: #fff;
    font-size: 1em;
    letter-spacing: 1px;
    font-weight: 100;
    margin: 0.5em 0 1em;
    line-height: 1.2;
}
.map-right p a{
    color: #fff;
	font-size: 1.1em;
}
.map-right p a:hover{
    color:#000;
}
.map .social-icons {
    margin-top: 1.1em;
}
.map .social-icons ul li:nth-child(3){
	margin-right:.5em;
}
/*--//map--*/
/*--footer--*/
.footer {
    padding: 2em 0;
    text-align: center;
    background: #000;
}
.footer p {
    color: #fff;
}
.footer p a{
    color: #fff;
}
.footer p a:hover{
    color: #988AEE;
}
/*--//footer--*/
/*--slider-up-arrow--*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 3%;
	right: 3%;
	overflow: hidden;
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url("../images/move-up.png") no-repeat 0px 0px;
	z-index:999;
}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*--//slider-up-arrow--*/
/*---- responsive-design -----*/
@media(max-width:1440px){
.banner {
    min-height: 590px;
}
}
@media(max-width:1366px){
.banner-text {
    padding: 8em 0;
    text-align: center;
}
.banner-text h2, .banner-text h3 {
    text-transform: uppercase;
}
.about, .news-info, .services, .skills {
    padding: 5em 0;
}
}
@media(max-width:1280px){
.navbar-header h1 {
    font-size: 2.8em;
}
.top-nav-text {
    margin: 1.5em 0 1.3em;
}
.banner {
    min-height: 570px;
}
.banner-text h2, .banner-text h3 {
    font-size: 2em;
    text-transform: uppercase;
}
h3.title {
    margin-bottom: 0.8em;
}
.map-right {
    padding: 4em 3em;
}
}
@media(max-width:1080px){
.navbar-header h1 {
    font-size: 2.6em;
}
.top-nav-text {
    margin: 1.1em 0 1.2em;
}
.banner-text h2, .banner-text h3 {
    font-size: 2.8em;
    text-transform: uppercase;
}
.banner {
    min-height: 530px;
}
.banner-text {
    padding: 11em 0;
}
.callbacks_tabs {
    left: 45%;
}
.news-grids {
    padding: 0 .5em;
}
h3.title {
    font-size: 3.6em;
}
.about, .news-info, .services, .skills {
    padding: 4em 0;
}
.captn-top {
    padding: 22% 6%;
}
.contact input[type="text"] {
    width: 31.3%;
}
.b-wrapper h5 {
    font-size: 3em;
    padding: 41% 0;
}
.modal-dialog {
    margin: 4em auto 0;
}
.map-right {
    padding: 3.2em 3em;
}
}
@media(max-width:1024px){

.banner {
    min-height: 495px;
}
.banner-text {
    padding: 10em 0;
}
.banner-text h4 {
    margin: 1.3em 0;
    font-size: 1.2em;
}
.map-right {
    padding: 3.2em 2em;
}
}
@media(max-width:991px){
.navbar-nav li a {
    font-size: 1.1em;
    padding: 10px 21px;
}
.about, .news-info, .services, .skills {
    padding: 3.5em 0;
}
p {
    font-size: 1em;
}
.about-text h4 {
    margin-bottom: 0.5em;
}
.news-grids {
    padding: 0 .3em;
    float: left;
    width: 25%;
}
.captn h4 {
    font-size: 1.5em;
}
.social-icons ul li a {
    background-position:  0px 0px;
    display: block;
    height: 32px;
    width: 32px;
    background-size: 125%;
}
.captn-top {
    padding: 11% 6%;
}
.news .social-icons {
    padding: 1em 0 0.7em;
}
.social-icons ul li a.fb {
    background-position: -1px -41px;
}
.social-icons ul li a.gp {
    background-position: 1px -80px;
}
h3.title {
    font-size: 3.3em;
}
.services-grids {
    float: left;
    width: 50%;
    padding: 0 0.5em;
}
.services-right {
    float: right;
    width: 70%;
    padding: 0.8em 1em;
}
.portfolio-grids {
    padding: 0;
    float: left;
    width: 25%;
}
.b-wrapper h5 {
    font-size: 2.5em;
    padding: 38% 0;
}
.contact input[type="text"] {
    width: 30.7%;
}
.map iframe {
    min-height: 300px;
}
.map-right {
    padding: 2em;
}
.social-icons ul li a.drb {
    background-position: 0px -120px;
}
}
@media(max-width:800px){
.banner {
    min-height: 440px;
}
.banner-text {
    padding: 8em 0;
}
.callbacks_tabs {
    left: 42%;
}
.modal-body {
    padding: 1.5em;
}
.bnr-modal .modal-header {
    min-height: 2.5em;
    padding: 0.8em 1.5em 0;
}
}
@media(max-width:767px){
.header-right {
    float: none;
}
.navbar-toggle {
    float: left;
	z-index: 9;
}
.top-nav-text {
    margin: 1em 0;
}
.top-nav-text p {
    margin-left: 16em;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #74b9fe;
}
.navbar-default .navbar-toggle {
    border-color: #74b9fe;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #FFF;
}
.navbar-toggle .icon-bar {
    background: #fff;
}
.navbar-header.navbar-left {
    background: transparent;
}
.navbar-header h1 a {
    display: inline-block;
	background: none;
}
.top-nav ul li {
    display: block;
	margin: .5em 0;
}
.top-nav ul li a {
    padding: 5px 0;
}
nav#block-primehorses-main-menu {
    background: #fff;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 95%;
    z-index: 9999;
    text-align: center;
}

ul.nav.navbar-right {
    text-align: center;
}
.navbar-right .dropdown-menu {
    min-width: 100%;
    position: relative;
	text-align:center;
}
.sb-icon-search, .sb-search-submit, .sb-search.sb-search-open .sb-search-submit {
    font-size: 1.3em;
    padding: 6px 0.2em;
}

}
@media(max-width:736px){
.contact input[type="text"] {
    width: 30.6%;
}
}
@media(max-width:640px){

.navbar-header h1 a {
    padding: .5em 1em;
}
.navbar-nav {
    margin: 1.5em;
}
.banner-text h2, .banner-text h3 {
    font-size: 2.2em;
    text-transform: uppercase;
}
.banner {
    min-height: 400px;
}
.about, .news-info, .services, .skills {
    padding: 3em 0;
}
h3.title {
    font-size: 3em;
	margin-bottom: 0.6em;
}
h3.title:before {
    width: 60px;
    height: 3px;
    left: 44%;
}
.about-text h4 {
    font-size: 1.3em;
}
.news-grids {
    padding: 0 3em;
    float: left;
    width: 50%;
    margin-top: 1em;
}
.captn-top {
    padding: 21% 6%;
}
.services-right h4 {
    font-size: 1.3em;
}
.services-right {
    padding: 0.95em 1em;
}
.resp-tabs-list {
    padding: 0 0 1.5em;
}
.b-wrapper h5 {
    font-size: 2em;
    padding: 37% 0;
}
.skills ul li {
    margin: 0 1em;
}
.skills p {
    font-size: 1.2em;
}
.contact input.email {
    margin: 0 1em;
}
.contact input[type="text"] {
    width: 31.7%;
	padding: .6em 1em;
    margin-bottom: 1em;
}
.contact input[type="submit"] {
    padding: 0.6em 5em;
    font-size: 1em;
}
.contact textarea {
    min-height: 9em;
}
.resp-tab-item {
    font-size: 1em;
    margin: 0 1em 0;
}
.skill-info {
    margin-top: 0;
}
.map iframe {
    min-height: 250px;
}
.map-right p {
    margin: 0.8em 0 1em;
}
.map .social-icons {
    margin-top: 1em;
}
}
@media(max-width:600px){
.news-grids {
    padding: 0 2em;
}
.b-wrapper h5 {
    font-size: 1.8em;
}
.skills ul li {
    margin: 0 0.5em;
}
.contact input[type="text"] {
    width: 100%;
    font-size: .9em;
}
.contact input.email {
    margin: 0;
}

}
@media(max-width:480px){
    
.navbar-header h1 {
    font-size: 2.5em;
}
.navbar-header h1 a span {
    letter-spacing: 7px;
}
.navbar-header h1 a {
    padding: .2em 1em .3em;
}
.banner-text h2, .banner-text h3 {
    font-size: 1.8em;
    text-transform: uppercase;
}
.banner-text h4 {
    margin: 1.3em 0;
    font-size: 1.1em;
}
.banner {
    min-height: 330px;
}
.banner-text {
    padding: 6em 0;
}
.callbacks_tabs li,
.slick-dots li{
    margin: 0 .5em;
}
.callbacks_tabs {
    left: 39%;
}
.about, .news-info, .services, .skills {
    padding: 2em 0;
}
h3.title {
    font-size: 2.8em;
	margin-bottom: 0.5em;
}
h3.title:before {
    width: 45px;
    left: 44%;
}
.top-nav-text p {
    margin-left: 10em;
}
.news-grids {
    padding: 0 0.5em;
}
.captn-top {
    padding: 19% 6%;
}
.services-grids {
    float: none;
    width: 100%;
    padding: 0;
    margin-bottom: 1em;
}
.services-left {
    padding: 2.3em 0;
}
span.glyphicon {
    font-size: 2.5em;
}
.services-info.services-row2 {
    margin-top: 0;
}
.resp-tab-item {
    margin: 0 0.8em 0;
}
.portfolio-grids {
    width: 50%;
}
.slick-slide{
    width: 100%;
}

.b-wrapper h5 {
    padding: 46% 0;
}
.skills ul li {
    margin: 1em 2em 0;
}
.map iframe {
    min-height: 200px;
}
.navbar-nav {
    margin: 1em 0;
}
.about-text h4 {
    font-size: 1.2em;
    line-height: 1.5em;
}
}
@media(max-width:414px){
.top-nav-text p {
    margin-left: 7.5em;
}
nav#block-primehorses-main-menu {
    width: 92%;
}
.sb-search.sb-search-open .sb-icon-search, .no-js .sb-search .sb-icon-search {
    top: 3px;
    font-size: 1.3em;
}
.news-grids {
    padding: 0 0.2em;
	margin-top: 0.5em;
}
.captn-top {
    padding: 12% 6%;
}
h3.title {
    font-size: 2.5em;
}
.services-right h4 {
    font-size: 1.2em;
    margin-bottom: 0.3em;
}
.services-right {
    width: 75%;
}
.services-left {
    padding: 2.1em 0;
	width: 25%;
}
.resp-tab-item {
    margin: 0 0.5em 0;
    font-size: 0.9em;
}
.map-right p {
    letter-spacing: 0;
}
.map-right {
    padding: 1em;
}
.footer {
    padding: 1.5em 0;
}
.callbacks_tabs a,
.slick-dots button{
    height: 10px;
    width: 10px;
}
.callbacks_tabs a:after,
.slick-dots button:after{
    width: 20px;
    height: 20px;
}
.navbar-toggle {
    padding: 7px 8px;
    margin-top: 12px;
}
.banner-text h2, .banner-text h3 {
    font-size: 1.6em;
    text-transform: uppercase;
}
.banner-text h4 {
    font-size: 1em;
}
.more a {
    font-size: 1em;
    padding: 0.7em 2em;
}
.banner {
    min-height: 280px;
}
.banner-text {
    padding: 4em 0;
}
.callbacks_tabs {
    left: 39%;
}

}
@media(max-width:375px){
.top-nav-text p {
    margin-left: 6.5em;
}
p {
    font-size: 0.9em;
}
h3.title {
    font-size: 2.3em;
}
h3.title:before {
    width: 40px;
    left: 43%;
}
.about-text h4 {
    font-size: 1.1em;
    margin-bottom: 0.3em;
}
.about, .news-info, .services, .skills {
    padding: 1.5em 0;
}
.news-grids {
    padding: 0 3em;
    float: none;
    width: 100%;
}
.captn-top {
    padding: 29% 6%;
}

span.glyphicon {
    font-size: 2em;
}
.services-right {
    width: 77%;
}
.services-left {
    width: 23%;
}
.b-wrapper h5 {
    padding: 40% 0;
}
.map-right h4 {
    font-size: 1.8em;
    color: #fff;
    font-weight: 400;
}
.map-right p {
    margin: 0.5em 0 0.8em;
    font-size: 0.9em;
}

}
@media(max-width:320px){
.navbar-header h1 {
    font-size: 1.8em;
}
.navbar-header h1 a span {
    letter-spacing: 6px;
    font-size: .4em;
}
.navbar-header h1 a {
    padding: .3em 1em;
}
.top-nav-text p {
    margin-left: 6em;
    font-size: 0.9em;
}
.top-nav-text {
    margin: 0.8em 0;
}
.navbar-toggle {
    margin: 7px 0;
}
.cl-effect-14 a {
    height: 40px;
}
.navbar-nav li a {
    font-size: 1em;
    padding: 11px 21px;
}
.sb-icon-search, .sb-search-submit, .sb-search.sb-search-open .sb-search-submit {
    padding: 5px 0.2em;
}
.banner-text h2, .banner-text h3 {
    font-size: 1.5em;
    text-transform: uppercase;
}
.banner-text h4 {
    line-height: 1.5em;
    margin: 1em 0;
}
.more a {
    font-size: 0.9em;
    padding: 0.6em 2em;
}
.banner {
    min-height: 250px;
}
.callbacks_tabs {
    left: 36%;
    bottom: 11%;
}
h3.title {
    margin-bottom: 0.3em;
}
.about, .news-info, .services, .skills {
    padding: 1em 0;
}
.news-grids {
    padding: 0 1em;
}
.captn-top {
    padding: 31% 6%;
}
span.glyphicon {
    font-size: 1.6em;
}
.services-left {
    padding: 3.1em 0;
}
.contact input[type="submit"] {
    padding: 0.6em 4em;
    font-size: 0.9em;
}
.map iframe {
    min-height: 160px;
}
.map-right h4 {
    font-size: 1.6em;
}
}
/*--//responsive-design---*/
